* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
header{
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1500px;
  width: 100%;
}
.span{
  background-image: url('/images/Picsart_23-10-13_10-18-23-226.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  max-width: 1500px;
  width: 100%;
  background-color: #000000;
  color: rgb(255, 255, 255);
}
.span-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.76);
}

.span img{
  width: 700px;
}
.span-content{
  text-align: center;
  width: 700px;
  margin-left: .5rem;
}
.span-content h1{
  font-size: 50px;
}
.span-content p{
  font-size: 20px;
}
.button-span{
  padding: 15px 15px;
  margin-top: 2rem;
  background-color: darkorange;
  border-radius: 10px;
  color: #111111;
  text-decoration: none;
  margin-left: .5rem;
}
.button-span:hover{
  padding: 15px 15px;
  background-color: #795a5a;
}
@media screen and (max-width: 400px){
  .span-wrapper{
    height: 300px;
  }
  .span-content h1{
    font-size: 30px;
  }
  .span-content p{
    font-size: 15px;
  }
}
@media screen and (max-width: 500px){
  .span-content h1{
    font-size: 30px;
  }
  .span-content p{
    font-size: 15px;
  }
}

/* end of header */

/* about */
.about{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: royalblue;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  
}
.about-wrapper{
  display: flex;
  max-width: 1500px;
 
  width: 100%;
  flex-direction: column;
}
.about img{
  width: 500px;
}
.details{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
  width: 100%;
}
.inffo{
  flex-grow: 1;
  padding-top: 1rem;
  line-height: 2rem;
  margin-left: .5rem;
  margin-right: .5rem;
  border-top-right-radius: 50%;
}
.card-content input{
  border: none;
  padding: 15px;
  border-radius: 10px;
  background-color: #b2e4f8;
  outline: none;
  transition: .5s;
}
.card-content input:focus{
  outline: 3px solid royalblue;
}
#form input{
  border: none;
  padding: 15px;
  border-radius: 10px;
  background-color: #b2e4f8;
  outline: none;
  transition: .5s;
}
div input{
  border: none;
  padding: 15px;
  border-radius: 10px;
  background-color: #b2e4f8;
  outline: none;
  transition: .5s;
}
/* about */
/* blog */
.blog{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.blog-wrapper{
  background-color: royalblue;
  display: flex;
  flex-direction: column;
  max-width: 1500px;
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.blog-wrapper div{
  display: flex;
  gap: 1rem;
  line-height: 2rem;
  font-size: 18px;
  padding-left: .5rem;
  padding-right: .5rem;
}
@media screen and (max-width: 519px){
  .blog-wrapper div{
    display: flex;
    gap: 1rem;
    line-height: 2rem;
    font-size: 18px;
    padding-left: .5rem;
    padding-right: .5rem;
    flex-wrap: wrap;
  }
}
.blog-wrapper a{
  margin-left: 1rem;
  margin-bottom: 1rem;
  width: fit-content;
  padding: 17px 17px;
  text-decoration: none;
  background-color: darkorange;
  font-size: 18px;
  font-weight: 800;
  border-radius: 10px;
  color: #111111;
}
.blog-wrapper a:hover{
  background-color: #795a5a;
  transition: .5s;
}
/* blog */
/* subscribtions */
/* subscribtions */
.col-5{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.col-5-wrapper{
  max-width: 1500px;
  display: flex;
  width: 100%;
  background-color: darkorange;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
/*  */
.card-plan{
  width: 200px;
  background-color: rgb(253, 253, 253);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 5px black;
}
.card-plan ul{
  list-style-type: none;
}
.fa-check{
  color: royalblue;
}
.card-plan ul li{
  padding: .5rem;
}
.card-plan input{
  width: 150px;
  padding: 10px 10px;
}
.main{
  display: flex;
  column-gap: 2rem;
  row-gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 2rem;
  
}
@media screen and (max-width: 432px){
  .card-plan{
    width: 300px;
  }
}
@media screen and (max-width: 300px){
  .card-plan{
    width: 100%;
  }
}
/*  */
/* subscribtions */
/* subscribtions */






/* contact */
.contact{
  display: flex;
  align-items: center;
  flex-direction: column;
 
}
.contact-overlay{
  max-width: 1500px;
  width: 100%;
  background-image: url(https://media.istockphoto.com/id/871030872/photo/programming-code-abstract-technology-background-of-software-developer.webp?b=1&s=170667a&w=0&k=20&c=-4_fKSaeTwGLirw2EmAx-M8Ng9TpVyj2luQl5bK6eDI=);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contact-wrapper{
  max-width: 1500px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.699);
}

.details-wrapper{
  display: flex;
  justify-content: space-around;
 
}
.input input{
  margin-bottom: 1rem;
  background-color: #b2e4f8;
  outline: none;
  border: none;
  padding: 15px 15px;
  border-radius: 6px;
}
.input textarea{
  width: 100%;
  height: 100px;
  background-color: #b2e4f8;
  outline: none;
  border: none;
  border-radius: 6px;
}
.input #send{
  background-color: royalblue;
  width: 100px;
}
.input #send:hover{
  background-color: rgb(105, 105, 105);
  transition: .5s ease-in-out;
 
}
.address{
  line-height: 2rem;
}
@media screen and (max-width: 700px){
  .details-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .input textarea{
    width: 420px;
  }
}
@media screen and (max-width: 700px){
  .input input{
    width: 100%;
    margin-bottom: 1rem;
    background-color: #b2e4f8;
    outline: none;
    border: none;
    padding: 15px 15px;
    border-radius: 6px;
  }
  .input textarea{
    width: 100%;
  }
}
/* contact */

/* footer */
footer{
  display: flex;
  align-items: center;
  flex-direction: column;
}
footer h4{
  color:#111111
}
footer input{
  padding: 10px;
}
.footer-wrapper{
  max-width: 1500px;
  width: 100%;
  background-color: rgb(56, 56, 56);
  display: flex;
  align-items: center;
  flex-direction: column;
  color: rgb(255, 255, 255);
}
.footer-contents{
  width: 100%;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-around;
  row-gap: 1rem;
  column-gap: .5rem;
 
}
.footer-links a{
  font-size: 30px;
  color: green;

}
.footer-links a:hover{
  font-size: 30px;
  color: darkorange;
 }
 @media screen and (max-width: 380px){
  .footer-contents{
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    justify-content: flex-start;
    row-gap: 1rem;
    column-gap: .5rem;
    margin-left: .5rem;
   
  }
 }
/* footer */