* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
header{
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1500px;
  width: 100%;
}
.span{
  background-image: url('/images/Picsart_23-10-13_10-18-23-226.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  max-width: 1500px;
  width: 100%;
  background-color: #111111;
  color: rgb(255, 255, 255);
}
.span-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.753);
}

.span img{
  width: 700px;
}
.span-content{
  text-align: center;
  width: 700px;
  margin-left: .5rem;
}
.span-content h1{
  font-size: 50px;
}
.span-content p{
  font-size: 25px;
}
.button-span{
  padding: 15px 15px;
  margin-top: 2rem;
  background-color: darkorange;
  border-radius: 10px;
  color: #111111;
  text-decoration: none;
  margin-left: .5rem;
}
.button-span:hover{
  padding: 15px 15px;
  background-color: #795a5a;
}
@media screen and (max-width: 400px){
  .span-wrapper{
    height: 300px;
  }
  .span-content h1{
    font-size: 30px;
  }
  .span-content p{
    font-size: 18Spx;
  }
}
@media screen and (max-width: 500px){
  .span-content h1{
    font-size: 30px;
  }
  .span-content p{
    font-size: 20px;
  }
}

/* end of header */

/* about */
.about{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: royalblue;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  
}
.about-wrapper{
  display: flex;
  max-width: 1500px;
 
  width: 100%;
  flex-direction: column;
}
.about img{
  width: 500px;
}
.details{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
  width: 100%;
}
.inffo{
  flex-grow: 1;
  padding-top: 1rem;
  line-height: 2rem;
  margin-left: .5rem;
  margin-right: .5rem;
  border-top-right-radius: 50%;
}
.card-content input{
  border: none;
  padding: 15px;
  border-radius: 10px;
  background-color: #b2e4f8;
  outline: none;
  transition: .5s;
}
.card-content input:focus{
  outline: 3px solid royalblue;
}
#form input{
  border: none;
  padding: 15px;
  border-radius: 10px;
  background-color: #b2e4f8;
  outline: none;
  transition: .5s;
}
div input{
  border: none;
  padding: 15px;
  border-radius: 10px;
  background-color: #b2e4f8;
  outline: none;
  transition: .5s;
}
/* about */
/* blog */
.blog{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.blog-wrapper{
  background-color: royalblue;
  display: flex;
  flex-direction: column;
  max-width: 1500px;
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.blog-wrapper div{
  display: flex;
  gap: 1rem;
  line-height: 2rem;
  font-size: 18px;
  padding-left: .5rem;
  padding-right: .5rem;
}
@media screen and (max-width: 519px){
  .blog-wrapper div{
    display: flex;
    gap: 1rem;
    line-height: 2rem;
    font-size: 18px;
    padding-left: .5rem;
    padding-right: .5rem;
    flex-wrap: wrap;
  }
}
.blog-wrapper a{
  margin-left: 1rem;
  margin-bottom: 1rem;
  width: fit-content;
  padding: 17px 17px;
  text-decoration: none;
  background-color: darkorange;
  font-size: 18px;
  font-weight: 800;
  border-radius: 10px;
  color: #111111;
}
.blog-wrapper a:hover{
  background-color: #795a5a;
  transition: .5s;
}
/* blog */
/* contact */
.contact{
  display: flex;
  align-items: center;
  flex-direction: column;
 
}
.contact-overlay{
  max-width: 1500px;
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contact-wrapper{
  max-width: 1500px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.699);
}

.details-wrapper{
  display: flex;
  justify-content: space-around;
 
}
.input input{
  margin-bottom: 1rem;
  background-color: #b2e4f8;
  outline: none;
  border: none;
  padding: 15px 15px;
  border-radius: 6px;
}
.input textarea{
  width: 100%;
  height: 100px;
  background-color: #b2e4f8;
  outline: none;
  border: none;
  border-radius: 6px;
}
.input #send{
  background-color: royalblue;
  width: 100px;
}
.input #send:hover{
  background-color: rgb(105, 105, 105);
  transition: .5s ease-in-out;
 
}
.address{
  line-height: 2rem;
}
@media screen and (max-width: 700px){
  .details-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .input textarea{
    width: 420px;
  }
}
@media screen and (max-width: 700px){
  .input input{
    width: 100%;
    margin-bottom: 1rem;
    background-color: #b2e4f8;
    outline: none;
    border: none;
    padding: 15px 15px;
    border-radius: 6px;
  }
  .input textarea{
    width: 100%;
  }
}
/* contact */